<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Paradise Gym</title>
</head>

<body>

    <div class="navbar">
        <h1 id="logo">Paradise Gym</h1>
        <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
            href="/locations">Locations</a> | <a href="fitness_classes">Fitness
            Classes</a> | <a href="/personal_trainers">Personal Trainers</a> | <a href="/trainer_customer">Trainer
            Customer</a> | <a href="/class_schedule">Class Schedule</a> | <a href="/membership_location">Membership
            Location</a>
    </div>


    {{{body}}}

</body>

</html>