<h1> Memberships </h1>
<div> 
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a href="/personal_trainers">Personal_Trainers</a>
</div>