<div class="container">
    <h2>Home</h2>

    <p>Paradise Gym is a small fitness club with 3 locations serving more than 10,000
        members since 1998. The recently added third location is exclusive to Premium members.
        Paradise Gym is looking to implement a database-driven website to help manage its expansion
        and record information about its clients, memberships, group fitness classes, personal trainers,
        and locations. Each location has a maximum capacity of 500 people and dedicated personal
        trainers are available for clients to book one-on-one training sessions. Group fitness classes
        such as yoga and Zumba are also available at all three locations.</p>


    <p><strong>Customers:</strong> Records data about Paradise Gym's customers.</p>
    <p><strong>Memberships:</strong> Records data about Paradise Gym memberships.</p>
    <p><strong>Locations:</strong> Records all Paradise Gym locations.</p>
    <p><strong>Fitness Classes:</strong> Records all fitness classes offered by Paradise Gym.</p>
    <p><strong>Personal Trainers:</strong> Records data about all of Paradise Gym's personal trainers.</p>
    <p><strong>Trainer Customer:</strong> Records the current customers who are being trained by a personal trainer.</p>
    <p><strong>Class Schedule:</strong> Records information about all the class schedules such as time, location, class,
        and
        instructor.
    </p>
    <p><strong>Membership Location:</strong> Records which location each membership has access to.</p>
</div>