<div class="container">
    <h2>Welcome!</h2>

    <p>Paradise Gym is a small fitness club with 3 locations serving more than 10,000
        members since 1998. The recently added third location is exclusive to Premium members.
        Paradise Gym is looking to implement a database-driven website to help manage its expansion
        and record information about its clients, memberships, group fitness classes, personal trainers,
        and locations. Each location has a maximum capacity of 500 people and dedicated personal
        trainers are available for clients to book one-on-one training sessions. Group fitness classes
        such as yoga and Zumba are also available at all three locations.</p>
</div>